@import 'tailwindcss';
@plugin '@tailwindcss/typography';

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/static/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro ExtraLight';
  src: url('/fonts/source-code-pro/static/SourceCodePro-ExtraLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-custom-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-source-code {
    font-family: 'Source Code Pro ExtraLight', monospace;
}